#midbody {
    position: relative;
    margin: 2% 10% 4% 10%;
    border: 0px solid #000;
}


#phnEml {
    border: 0px solid #000;
    padding-right: 15px;
    margin-top: -18px;
    position: relative;
}

#logo {
    border: 0px solid #000;
    padding-top: 0px;
    padding-left: 50px;
    text-align: center;
}

.menu {
    min-width: 100px;
    margin: auto;

    /*margin-top: 20px;
	background-color: #f33;*/
    overflow: hidden;
    white-space: nowrap;
    /*off scroll-behavior */
    padding-left: 0px;
}

.menu a {
    display: inline-block;
    padding: 14px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: palatino;
}

.menu a:hover {
    background-color: lightgrey
}

.half1 {
    max-width: 80%;
    margin-top: 0px;
    margin-left: 0px;
    border: 0px solid red;
    padding-left: 0px;
}

.half2 {
    width: 20%;
    margin-top: -8%;
    float: right;
    clear: right;
    border: 0px solid blue;
}

#filter {
    position: relative;
    padding-left: 0%;
    padding-top: 10%;
    text-decoration: none;
    border: 2px dotted #FFFF00;
    margin-right: 65%;
    font-family: palatino;
}

.filter a {
    text-decoration: none;
    color: black;
}

#newold {
    position: absolute;
    left: 45%;
    top: 20%;
}

#divshape {
    clear: both;
    padding-left: 0%;
    margin-right: 40%;
    border: 0px solid black;
}

.sliding {
    position: relative;
    border: 0px dotted lightgreen;
    text-align: center;
}





/* Clear floats after the columns */

.sliding:after {
    content: "";
    display: table;
    clear: both;
}


/* landing page  */

#detailContainer {
    clear: both;
    position: relative;
    border-top: 1px dotted lightgrey;
    top: 40px;


}

.cost {
    float: left;
    margin-top: 100px;
}

#leftCost {
    border-left: 8px solid lightblue;
    border-right: 3px solid lightblue;
    width: 30%;
    padding: 0px;
    background-color: lightgrey;
}

#rightCost {
    float: right;
    border-left: 8px solid lightblue;
    border-right: 3px solid lightblue;
    width: 25%;
    height: 300px;
    margin-right: 25px;
    background-color: lightgrey;
}

#centerCost {
    border-left: 8px solid lightblue;
    border-right: 3px solid lightblue;
    width: 25%;
    margin-left: 50px;
    background-color: lightgrey;
}



.filtres {
    position: absolute;
    padding-left: 0%;
    top: 45%;
    border: 0px dotted black;
    margin-left: 50%;
}

.filtrec {
    position: absolute;
    padding-left: 0%;
    top: 42%;
    border: 0px dotted black;
    margin-left: 78%;
}

.specification {
    clear: both;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 73%;
    padding-top: 0px;
    padding-left: 0px;
    text-decoration: none;
    border-left: 8px solid lightblue;
    border-right: 8px solid lightblue;
    background-color: lightgrey;
}

table.specificationClass {
    table-layout: auto;
    width: 80%;
}

#cont {
    position: absolute;
    left: 62%;
    top: 76%;
    border: 1px solid black;
}

#divbrand {

    padding-left: 0;
    padding-right: 0;
    max-width: auto;
    top: 4.2%;
    border: 0px solid red;
}

#randomcar {
    position: relative;
    padding-left: 5%;
    top: 260px;
    border-top: 2px dotted lightgrey;
    clear: both;
}




}
#tableborder {
    position: relative;
    max-width: 600px;
    margin: auto;


    margin-right: 0;
    left: 25px;
    right: 10px;
}












/* ************************************ This part is only for the Side menu bar **************************/
.dropbtn {
    background-image: url(Images/ar.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
    /* equivalent to 'top left' */
    /* make this the size of your image */

    cursor: pointer;
    font-weight: bold;
    font-weight: 900;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #ADD8E6;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 105px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd
}

.show {
    display: block;
}









/*************************************Landing pae********************/


#sliding {
    border: 0px solid lightblue;
}
#midbodyLand {
    margin: 2% 10% 4% 10%;
    height: 100%;
    border: 1px solid lightgreen;
}
#slidingCar {
    position: absolute;
    padding-left: 0%;
    top: 20%;
    margin: 0% 20% 0% 20%;
    align-content: center;
    border: 1px solid black;
}
#slidingCarArLft {
    /*position: absolute;*/

    padding-left: 0%;
    top: 20%;
    margin: 0% 20% 0% 20%;
    align-content: center;
    border: 1px solid black;
}
#slidingCarArRt {
    position: absolute;
    padding-left: 0%;
    top: 20%;
    margin: 0% 20% 0% 20%;
    align-content: center;
    border: 1px solid black;
}
#slidingCarsColor {
    position: absolute;
    padding-left: 0%;
    top: 60%;
    margin-left: 13%;
    border: 0px solid black;
}

#packages {
    clear: both;
    position: absolute;
    padding-left: 0%;
    margin-top: 32%;
    margin-left: 20% border: 1px solid black;
}
#financing {
    clear: both;
    position: absolute;
    padding-left: 0%;
    margin-top: 42%;
    margin-left: 30% border: 1px solid black;
}
#configuration {
    clear: both;
    position: absolute;
    padding-left: 0%;
    margin-top: 62%;
    margin-left: 40% border: 1px solid black;
}
#randomcarLand {
    clear: both;
    position: absolute;
    margin-top: 60%;
    margin-left: 17%;
    border: 1px solid black
}

#btn1 {
    visibility:hidden; 
    display: inline-block;
}



/**************************************Popup Style******************/
#popup-box{ position:fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.7); width: 100%; height: 100%;}
#popup-container{
position:fixed; 
width:800px; 
height:500px;
 border: 2px solid black; 
 left: 50%; 
 margin-left: -400px; 
 top:50%; 
 margin-top: -250px; 
 background-color: #CCCCCC; 
 padding: 20px; 
 border-radius: 4px;
 }
 
 #close_popup{ 
 position:absolute;
 width: 40px;
 height:40px;
 border-radious: 25px;
 border: 2px solid black;
 text-align:center;
 right:5px;
 top:5px;
 cursor:pointer;
 
 }
 #close_popup h2{
 	margin-top:5px;
	font-family:sans-serif;
	font-weight:bold;
 } 
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}













































/* ************************************ END Side menu bar **************************/